<div class="note-list__toolbar">{{fa-icon "plus"}} </div>
{{#each notes as |note|}}
  <div class="note-list__item" {{action selectNote note.id}}>{{note.title}}</div>
{{else}}
  <div>No notes availabe. Create one?</div>
{{/each}}
