{{#mobiledoc-editor
  mobiledoc=note.body
  autofocus=true
  spellcheck=true
  placeholder="new note"
  on-change=(action (mut note.body))
  cards=cards
  class="note-viewer__mobiledoc"
  options=options
  as |editor|
}}
  <div class="note-viewer__mobiledoc__toolbar">
    <div class="note-viewer__mobiledoc__toolbar__delete" {{action (route-action "deleteRecord" note)}}>
      {{fa-icon "trash"}}
    </div>
    {{#mobiledoc-section-button editor=editor for="h1"}}
    H1
    {{/mobiledoc-section-button}}
    {{#mobiledoc-section-button editor=editor for="h2"}}
    H2
    {{/mobiledoc-section-button}}
    {{#mobiledoc-section-button editor=editor for="p"}}
    Body
    {{/mobiledoc-section-button}}
    {{#mobiledoc-section-button editor=editor for="ul"}}
    Dotted List
    {{/mobiledoc-section-button}}
    {{#mobiledoc-section-button editor=editor for="ol"}}
    Numbered List
    {{/mobiledoc-section-button}}
    <button {{action editor.addCard "image-card" "test"}}>Image</button>
  </div>
{{/mobiledoc-editor}}

<div class="note-viewer__resources-wrapper">
  <div class="note-viewer__resources">
      {{mobiledoc-dom-renderer mobiledoc=note.body}}
  </div>
</div>
