{{ember-trix
  class="text-editor"
  autofocus=true
  placeholder="Enter Text Here"
  config=config
  trix-change=(action "handleContentChange")
  trix-selection-change=(action "handleSelectionChange")
}}
<div class="create-comment-button" {{action (route-action "newComment" lastBlockIndex)}}><i class="fa fa-plus-square"></i></div>
