@import "bower_components/font-awesome/scss/font-awesome";
@import "base/_base";
@import "specifics/_specifics";

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: $fonts-main;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#denote-app, .app-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.ember-content-editable {
  outline: 0;
}

.note-editor__block-row {
  display: flex;
  flex-direction: row;
  margin: 1em 6em;
  line-height: 140%;
}

.note-editor__block {
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  width: 65%;
}

.note-editor__comment-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 35%;
}

.note-editor__comment {
  position: absolute;
  height: 0;
  overflow: hidden;
  color: $color-scorpion;
  font-size: 0.8em;
  line-height: 120%;
  margin-top: 0.4em;

  &:focus {
    overflow-y: scroll;
  }
}
