$fonts-main: "Lucida Grande", "Helvetica Neue", Helvetica, Sans;
$color-concrete: #F3F3F3;
$color-neptune: #78B8BA;
$color-smalt-blue: #4F9092;
$color-grey: #ccc;
$color-black: #000;
$color-mine-shaft: #333333;
$color-catskill-white: #EEF6F7;
