.collection-viewer {
  display: flex;
  position: relative;
  margin-left: 20%;
  width: 80%;
  height:100%;
  border-left: 1px solid $color-concrete;
  border-right: 1px solid $color-concrete;
  flex-direction: column;
  outline: 0;
  padding: 0 1em;
}

.collection-viewer__title {
  display: block;
  // width: 100%;
  margin: 1em auto 0 auto;
  padding: 0.2em 1.5em;
  justify-content: space-around;
  border-top: 1px solid $color-grey;
  border-bottom: 1px solid $color-grey;
}

.collection-viewer__note-list__note {
  font-size: 1.2em;
}

.collection-viewer__note-list__note__name {
  cursor: pointer;
}
