.note-editor {
  display: flex;
  width: 80%;
  border-left: 1px solid $color-concrete;
  border-right: 1px solid $color-concrete;
  flex-direction: column;
  outline: 0;
  padding: 1rem;
  overflow-y: scroll;
}
